<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title><%= htmlWebpackPlugin.options.title %></title>
  </head>
  <body>
      
    <div class="container">
      <h1>dennissnov@gmail.com</h1>
        <div>
            <a href="./styleguide.html" class="butt butt-index-1">Styleguide</a>
            <a href="./detailpage.html" class="butt butt-index-2">Detail page</a>
        </div>
    
    </div>
  </body>
</html>