<!DOCTYPE html>
<html>
  <head>
      <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0"/>

    <meta http-equiv="Content-type" content="text/html; charset=utf-8"/>
    <title><%= htmlWebpackPlugin.options.title %> Dennissnov</title>
  </head>
  <body>
    <div class="main">
        <div class="sidebar">
          <div class="sidebar-content">
              <ul>
                  <li><a href="./styleguide.html">Styleguide</a></li>
          
                <span>Version 1.0.0</span>
                <hr>
                <li>Design element</li>
          
                  <li><a href="#baris-colors"></a>Colors</li>
                  <li><a href="#baris-typo"></a>Typhography</li>
          
                <li>UI Components</li>
          
                  <li><a href="#baris-buttons"></a>Buttons</li>
                  <li><a href="#baris-inputs"></a>Inputs</li>
                  <li><a href="#baris-check"></a>Check / Radio Buttons</li>
                  <li><a href="#"></a>Dropdowns</li>
          
                </ul>
          </div>
        </div>
        <div class="container">
            <div class="baris" id="baris-1">
                  <div class="kolom-l-1" id="garis">
                    <hr>
                  </div>
                  <div class="kolom-l-11">
                      <p class="judul ">Colors</p>
                  </div>
            </div>

            <div class="baris" id="baris-color" >
                <div>
                    <div class="base-kotak color-main"></div>
                    <p>MAIN COLOR</p>
                    <p class="bold">#1991EB</p>
                    <p>RGB (25,145,235)</p>
    
                </div>
                <div>
                    <div class="base-kotak color-secondary"></div>
                    <h3>SECONDARY COLOR</h3>
                    <p class="bold">#09C199</p>
                    <p>RGB (9,193,153)</p>
                </div>
                <div>
                    <div class="base-kotak color-img-grd"></div>
                    <p>IMAGE GRADIENT</p>
                    <p class="bold">##188E9B /<br> #6DD7C7</p>
                    <p>RGB (35,160,174) / <br>RGB (109,212,215)</p>
                  </div>
                <div>
                    <div class="base-kotak color-prominent"></div>
                    <p>PROMINENT COLOR</p>
                    <p class="bold">#F7981C</p>
                    <p>RGB (247,152,28)</p>
                  </div>
                <div>
                    <div class="base-kotak color-dark-shades"></div>
                    <p>DARK SHADES</p>
                    <p class="bold">#333F52</p>
                    <p>RGB (51,63,82)</p>
                  </div>
                <div>
                    <div class="base-kotak kotak-icon-color"></div>
                    <p>ICON COLOR</p>
                    <p class="bold">#C5D0DE</p>
                    <p>RGB (197,208,222)</p>
                  </div>
             </div>

            <div class="baris" id="baris-2">
              <div class="kolom-l-1" id="garis-2">
                <hr>
              </div>
              <div class="kolom-l-11">
                  <p class="judul-2 ">Typhography</p>
              </div>
            </div>
            
            <div class="baris" id="baris-typo" name="baris-typo">
              <div>
                <div class="kotak-typo">
                  <p>Aa</p>
                  <hr>
                  <h4>SOURCE SANS</h4>
                </div>
              </div>
              <div id="heading-typo">
                <div>
                    <h3 class="heading-judul">H1</h3>
                    <h1 class="bold">Far far away, behind the word mountains, far from</h1>
                    <h1 >Far far away, behind the word mountains, far from</h1>
                </div>
                <div>
                    <h3 class="heading-judul">H2</h3>
                    <h2 class="bold">Far far away, behind the word mountains, far from</h2>
                    <h2 >Far far away, behind the word mountains, far from</h1>
                </div>
                <div>
                    <h3 class="heading-judul">H3</h3>
                    <h3 class="bold">Far far away, behind the word mountains, far from</h>
                    <h3 >Far far away, behind the word mountains, far from</h1>
                </div>
                <div>
                    <h3 class="heading-judul">BODY</h3>
                    <h4 class="bold">Far far away, behind the word mountains, far from</h>
                    <h4 >Far far away, behind the word mountains, far from</h1>
                </div>
              </div>
            </div>

            <div class="baris" id="baris-3">
                <div class="kolom-l-1" id="garis-3">
                  <hr>
                </div>
                <div class="kolom-l-11">
                    <p class="judul-3 ">Buttons</p>
                </div>
            </div>

            <div class="baris" id="baris-buttons">
              <div>
                  <button class="btn-biru">NORMAL</button><br>
                  <button class="btn-biru hover">HOVER</button><br>
                  <button class="btn-biru">TES</button><br>
                  <button class="btn-biru disabled">DiSABLED</button><br>
              </div>
              <div >
                  <button class="btn-hijau-grd">NORMAL</button><br>
                  <button class="btn-hijau-grd">HOVER</button><br>
                  <button class="btn-hijau-grd">TES</button><br>
                  <button class="btn-hijau-grd disabled">DiSABLED</button><br>
              </div>
              <div>
                  <button class="btn-putih">NORMAL</button><br>
                  <button class="btn-putih">HOVER</button><br>
                  <button class="btn-putih">TES</button><br>
                  <button class="btn-putih disabled">DiSABLED</button><br>
              </div>
              <div >
                  <button class="btn-hijau">NORMAL</button><br>
                  <button class="btn-hijau">HOVER</button><br>
                  <button class="btn-hijau">TES</button><br>
                  <button class="btn-hijau disabled">DiSABLED</button><br>
              </div>
              <div>
                  <button class="btn-merah-grd">NORMAL</button><br>
                  <button class="btn-merah-grd">HOVER</button><br>
                  <button class="btn-merah-grd">TES</button><br>
                  <button class="btn-merah-grd disabled">DiSABLED</button><br>
              </div>
              <div>
                  <button class="btn-biru-grd">NORMAL</button><br>
                  <button class="btn-biru-grd">HOVER</button><br>
                  <button class="btn-biru-grd">TES</button><br>
                  <button class="btn-biru-grd disabled">DiSABLED</button><br>
              </div>
              <div>

              </div>
            </div>


            <div class="baris" id="baris-4">
              <div class="kolom-l-1" id="garis-4">
                <hr>
              </div>
              <div class="kolom-l-11">
                  <p class="judul-4 ">Inputs</p>
              </div>
          </div>

          <div class="baris" id="baris-inputs">
            <div>
              <input class="inputs-normal"type="text" placeholder="normal"><br>
              <input class="inputs-hover"type="text" placeholder="hover"><br>
              <input class="inputs-focus"type="text" placeholder="focus"><br>
              <input class="inputs-error"type="text" placeholder="error"><br>
              <input class="inputs-success" type="text" placeholder="success"><br>
              <input class="inputs-disabled disabled" type="text" placeholder="disabled"><br>
            </div>
            <div>
              <input class="inputs-normal"type="text" placeholder="normal"><br>
              <input class="inputs-hover"type="text" placeholder="hover"><br>
              <input class="inputs-focus"type="text" placeholder="focus"><br>
              <input class="inputs-error"type="text" placeholder="error"><br>
              <input class="inputs-success" type="text" placeholder="success"><br>
              <input class="inputs-disabled disabled" type="text" placeholder="disabled"><br>
            </div>
            <div>
              <input class="inputs-normal"type="text" placeholder="normal"><br>
              <input class="inputs-hover"type="text" placeholder="hover"><br>
              <input class="inputs-focus"type="text" placeholder="focus"><br>
              <input class="inputs-error"type="text" placeholder="error"><br>
              <input class="inputs-success" type="text" placeholder="success"><br>
              <input class="inputs-disabled disabled" type="text" placeholder="disabled"><br>
            </div>
          </div>
            <div class="baris" id="baris-5">
              <div class="kolom-l-1" id="garis-5">
                <hr>
              </div>
              <div class="kolom-l-11">
                  <p class="judul-5 ">Check/Radio Buttons</p>
              </div>
          </div>

          <div class="baris" id="baris-check" name="baris-check">
            <div>
                <label class="check-cont">Normal
                    <input type="checkbox">
                    <span class="checkmark"></span>
                  </label>
                  <label class="check-cont">Selected
                    <input type="checkbox" checked="checked">
                    <span class="checkmark"></span>
                  </label>
                  <label class="check-cont">Selected
                    <input type="checkbox" checked="checked">
                    <span class="checkmark2"></span>
                  </label>
                  <label class="check-cont disabled-checkbox " > Disabled
                      <input type="checkbox"  disabled>
                      <span class="checkmarkdisabled disabled-checkbox "></span>
                    </label>
                  <label class="check-cont disabled-checkbox " > Disabled
                      <input type="checkbox"  disabled checked="checked">
                      <span class="checkmarkdisabled   disabled-checkbox " ></span>
                    </label>
                  <label class="check-cont disabled-checkbox " >Intermediate Disabled
                    <input type="checkbox"  disabled checked="checked">>
                    <span class="checkmark2disabled  disabled-checkbox "></span>
                  </label>
            </div>
      
            </div>

            

        </div> <!-- END CONTAINER-->
    </div> <!--END MAIN-->
 </body>
</html>