//MAP & VAR
//$color-bg-body : #f8fafb;

$mobile-breakpoint : "screen and (max-width : 480px)";
$tablet-breakpoint : "screen and (min-width : 768px)";
$wxgaplus-breakpoint   : "screen and (min-width : 1440px)";
$font :(
    normal : ('Source Sans Pro', sans-serif),
    bold : ('Source Sans Pro Bold', sans-serif)
);
$heading : (
    h1 : 20px,
    h2 : 18px,
    h3 : 16px,
    h4 : 13px,
);
//BOLD
.bold {
    font-weight: bold;
    font-family : map-get($font, bold )
}

//COLORS
$color-bg-body : pink;

$colors : (
    bg-main : #f8fafb,
    bg-sidebar : #4a90e2,
    col-heading : #4a4a4a,
    col-heading-bold : #000000,
    text-sidebar-white : #ffffff,
    text-sidebar-gray : #e8e8e8,
    garis-border-gray : #979797,
    text-colors-detail1 : #9b9b9b,
);
$button-colors :(
    biru: #1991eb,
    hijau-grd : linear-gradient(109deg, #188e9b, #6dd7c7),
    putih: white,
    hijau : #09c199,
    merah-grd : linear-gradient(to bottom, #f85359, #dc151d),
    biru-grd : linear-gradient(to top, #1991eb, #2da1f8)
);


$col-hover :rgba(255,255,255,0.06);
$col-pressed : rgba(0,0,0,0.1);


//-------------------------INPUTS SECTION
$input-colors :(
    normal: #dfe3e9,
    hover: #ced0da,
    focus: #2ea2f8,
    error: #ed1c24,
    success: #1bb934,
    disabled: #dfe3e9,

);

// GRID SYSTEM

$grid_kolom :12;
@media #{$mobile-breakpoint} {
    @for $i from 1 through $grid_kolom {
        .kolom-s-#{$i}{
            flex-basis: (100 / ($grid_kolom / $i)) *1%;
         //   height: auto;
            //background-color: green;
        }
    }
}
@media #{$tablet-breakpoint} {
    @for $i from 1 through $grid_kolom {
        .kolom-m-#{$i}{
            flex-basis: (100 / ($grid_kolom / $i)) *1%;
        //    height: auto;
           // background-color: yellow;
        }
    }
}
@media #{$wxgaplus-breakpoint} {
    @for $i from 1 through $grid_kolom {
        .kolom-l-#{$i}{
            flex-basis: (100 / ($grid_kolom / $i)) *1%;
          //  height: auto;
            //background-color: red;
          
    
        }
    }
}
//GRID SYSTEM