@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro');

//$color-bg-body : #f8fafb;
$color-bg-body : pink;
$mobile-breakpoint : "screen and (max-width : 768px)";
$tablet-breakpoint : "screen and (max-width : tablet)";
$wxga-breakpoint   : "screen and (max-width : 1366px)";
$wxgaplus-breakpoint   : "screen and (min-width : 1440px)";

body{
    margin:0;
    top: 50%;
    left: 50%;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    color: chocolate;
    & div {
        width: 100%; /*can be in percentage also.*/
        height: auto;
        margin: 0 auto;
        padding-top: 100px;
        position: relative;
    }

}
.butt {
    background: gray;
    border : none;
    color : white;
    padding : 15px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 2em;
    margin: 50px;
    cursor: pointer;
    font-family: 'Source Sans Pro', sans-serif;

}
.butt-index-1 {
    background: #008CBA;
    &:hover {
        background: rgb(38, 168, 211)
    }
}
.butt-index-2 {
    background: rgb(235, 85, 110);
    &:hover {
        background: rgb(226, 110, 129);
    }
}