@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro');
@import '_var';


@each $head, $size in $heading {
    #{$head}{
        font-size: #{$size};
        font-weight : normal;
        color : map-get($colors, col-heading );
        margin : 0;
    }
}
body, html{

    height: 100%;
    width: 100%;
    margin:0; /* new */
    margin:0;
    font-family: 'Source Sans Pro', sans-serif;
    overflow-y:auto;
    overflow-x:hidden;
}
.main {

    height: 100vh;
    margin: 0 auto;
    top : 0;


}

//-----------------------------------------SIDEBAR-------------------------------------------------
.sidebar {
    height: 100vh;
    background-color: map-get($colors, bg-sidebar );
    max-width: 367px;
    position: fixed;
    z-index: 1;
    top: 0;
    cursor: pointer;

    &-content {
        padding : 62px 70px;
        & hr {
            max-width: 111px;
            margin: 50px 0px 50px 0px;
        }
    
        & ul {
            padding: 0px;
            & span {
                font-size: 20px;
                color: map-get($colors, text-sidebar-gray);
                margin-bottom: 10px;
    
            }
      
            & li {
                color: map-get($colors, text-sidebar-white);
                list-style-type: none;
                padding: 0px;
                font-size: 20px;
                font-family: map-get($font, bold);
                font-weight: bold;
                margin: 0px 0px 5px 0px;
                &:hover {
                    transform: translate(20px);
                    transition: transform 0.5s ease-in-out;
                }
                &:nth-child(1){
                    font-family: map-get($font, normal);
                    font-weight: bold;
                    font-size: 48px;
                    width: 227px;
                    &:hover {
                        transform: none;
                        
                    }
    
                }
                &:nth-child(4){
                    font-size: 14px;
                    color: map-get($colors, text-sidebar-gray);
                    font-weight: normal;
                    margin-bottom: 10px;
                    &:hover{
                        transform: none;
                    }
                }
                &:nth-child(7){
                    font-size: 14px;
                    color: map-get($colors, text-sidebar-gray);
                    font-weight: normal;
                    margin-top: 30px;
                    margin-bottom: 10px;
                    &:hover{
                        transform: none;
                    }
                }
                & a {
                    text-decoration: none;
                    cursor: pointer;
                    &:visited {
                        text-decoration: none;
                        color : inherit;
                    }
    
                }
            }
    
        }
    }

    @media #{$mobile-breakpoint} {
        display: none;
    }
    @media #{$tablet-breakpoint} {

        }
    @media #{$wxgaplus-breakpoint} {

    }
}
//-------------------------------------------------------------------------------------------
.container {
    // width: 1440px-367px;
    top: 0;
    margin:0;
    margin-left: 367px;
    padding-bottom: 130px;
    background-color: map-get($colors, bg-main);
    height: auto;
    //width: 100%;
    position: relative;
    max-width: 100%;
    @media #{$mobile-breakpoint} {
        margin-left: 0px;
    }
    @media #{$tablet-breakpoint} {

        }
    @media #{$wxgaplus-breakpoint} {

    }
    
 }
//-------------------------------------------------------------------------------------------

.container {
    & .baris{
        display: flex;
        flex-wrap: wrap;
        width: 100%;
      //  height: auto;
        & #garis {
            height: 0;
            margin:123px 0px 0px 0px ;
        }       
        & #garis-2 {
            height: 0;
            margin:65px 0px 0px 0px ; //507
        }
        & #garis-3 {
            height: 0;
            margin:45px 0px 0px 0px ;
        }
        & #garis-4 {
            height: 0;
            margin:65px 0px 0px 0px ;
        }
        & #garis-5 {
            height: 0;
            margin:65px 0px 0px 0px ;
        }
        & .kolom-l-1{
            background-color: #979797;
            flex-basis: 55px;
           
            & hr {

                width: 55px;
           //     height: 3px;
                border: 1px solid map-get($colors, garis-border-gray );
            }

        }

    }
}

$color-style : (
    main : #1991eb,
    secondary : #09c199,
    img-grd : linear-gradient(135deg, #188e9b, #6dd7c7),
    prominent : #f7981c,
    dark-shades : #333f52,
    icon-color : #c5d0de,
);
//------------------------------------//RECTANGLE COLOR--------
.base-kotak {
    float: left;
    width: 129px;
    height: 129px;
   // margin-right: 30px;
    background-color: map-get($colors, garis-border-gray );
    @media #{$mobile-breakpoint} {

      }
    @media #{$tablet-breakpoint} {

      }
    @media #{$wxgaplus-breakpoint} {

    }
}



@each $warna , $hex in $color-style {
    .color-#{$warna} {
        background: $hex;
    }
}

#baris-color {
    padding: 30px 0 0 75px;
    & div {
        margin-right: 30px;
        & :nth-child(2) {
            margin:149px 0 1px 0 ;
            font-size: 13px;
        }
        & :nth-child(3) {
            margin:1px;
        }
        & :nth-child(4) {
            margin:0 0 30px 0;
            font-size: 14px;
        }
      
    }

}
//------------------KOTAK TYPO GRAPHY
#baris-typo {
    padding: 30px 0 0 75px;
}
.kotak-typo{
    float: left;
    width: 288px;
    height: 211px;
    border-radius: 3px;
    border: solid 1px #e8e8e8;
    background: white;
    margin-bottom: 30px;

    & p {
        margin: 0;
        text-align: center;
        padding: 26px 108px 22px 109px;
        font-size: 64px;
        font-family : map-get($font, bold );
        font-weight: bold;
        
    }
    & hr {
        width: 187px;
        border: solid 1px #e8e8e8;
        margin-top: 0;
        margin-bottom: 0;
        text-align: center;
    }
    & h4 {
        font-weight: bold;
        text-align: center;
        padding-top: 28px;
        color: map-get($colors, text-colors-detail1 );
        
    }

}

#heading-typo {
    margin-left: 0px;
    @media #{$mobile-breakpoint} {
        margin-left: 0px;
    }
    @media #{$tablet-breakpoint} {
        margin-left: 30px;
        }
    @media #{$wxgaplus-breakpoint} {
        margin-left: 30px;
    }
    & .bold {
        color: black;
    }
    & div {
        padding-bottom: 15px;
        & h3{
            padding-bottom: 5px;
     
        }
    }
    .heading-judul {
        color: map-get($colors, text-colors-detail1 );
    }



}

//------------------BUTTONS SECTOION=-----//
#baris-buttons {
    display: flex;
    margin: 30px 0 0 75px;
    flex-direction: row;
    flex-wrap: wrap;
     float: left;
    & div {
       
        padding: 0px;
        margin-right:30px;

    }
    & .kolom-l-2{
       width: 128px;
    }
}





@each $nama, $warna in $button-colors  {
    .btn-#{$nama} {
        
        width: 129px;
        height: 46px;
        margin-bottom: 10px;
        border-radius: 4px;
        border: none;
        text-align: center;
        font-size: 18px;
        color: white;
        border: solid 1px rgba(0, 0, 0, 0.1);
        @if $warna == white{
            color: #354052;
        }
        
        background: $warna;
        font-size: 18px;

        &:hover {
            background: desature($warna,10%);
        }
        &:active {
            background: desature($warna, 10%);
        }
    }
    
}


.disabled{
    background: #e9edf1; //GANTI VAR
    cursor : not-allowed;
    color: #b0b0b1;
    border: solid 1px rgba(0, 0, 0, 0.1);
}
@each $nama, $warna in $input-colors {
    .inputs-#{$nama} {
         
      //  margin: 8px 7px 10px 12px;
        box-sizing: border-box;
        margin-bottom: 10px;
        padding-left: 12px;
        width: 288px;
        height: 36px;
        border-radius: 4px;
        color: #354052;
        font-size: 14px;
        border: solid 1px $warna;
        cursor: pointer;
        &:hover {
            border: solid 1px #ced0da;
        }
    }
}


#baris-inputs {
    
    padding: 30px 0 0 75px;
    & div {
        margin-right: 30px;
    }
    
}

//---------------------------------------------------------------
.chekmarks {
    background-color: red;
}


#baris-check {
    padding: 30px 0 0 75px;
    display: table-cell; vertical-align: middle;
    & div {
        display: table-cell; vertical-align: middle; 
    }
    $background_color_1: white;
    $background_color_2: #ccc;
    $background_color_3:  linear-gradient(to top, #1991eb, #2da1f8);
    & div {
        .check-cont {
            display: block;
            position: relative;
            padding-left: 35px;
            margin-bottom: 12px;
            cursor: pointer;
            font-size: 14px;
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
            input {
                position: absolute;
                opacity: 0;
                cursor: pointer;
                &:checked {
                    &~.checkmark {
                        background: $background_color_3;
                        &:after {
                            display: block;
                        }
                    }
                    &~.checkmark2 {
                        background: $background_color_3;
                        &:after {
                            display: block;
                        }
                    }
                    &~.checkmarkdisabled {
                        background: #e9edf1;
                        &:after {
                            display: block;
                        }
                    }
                    &~.checkmark2disabled {
                        background: #e9edf1;
                        &:after {
                            display: block;
                        }
                    }
                }
            }
            &:hover {
                input {
                    &~.checkmark {
                        background-color: $background_color_2;
                    }
                }
            }
            .checkmark {
                &:after {
                    left: 4px;
                    top: 2px;
                    width: 4px;
                    height: 8px;
                    border: solid white;
                    border-width: 0 3px 3px 0;
                    -webkit-transform: rotate(45deg);
                    -ms-transform: rotate(45deg);
                    transform: rotate(45deg);
                }
            }
            .checkmark2 {
                &:after {
                    left: 5px;
                    top: 6px;
                    width: 8px;
                    border: solid white;
                    border-width: 0 0px 3px 0;
    
                }
            }
            .checkmarkdisabled {
                &:after {
                    left: 4px;
                    top: 2px;
                    width: 4px;
                    height: 8px;
                    border: solid #a8aab7;
                    
                    border-width: 0 3px 3px 0;
                    -webkit-transform: rotate(45deg);
                    -ms-transform: rotate(45deg);
                    transform: rotate(45deg);
    
                }
            }
            .checkmark2disabled {
                &:after {
                    left: 5px;
                    top: 6px;
                    width: 8px;
                    border: solid #a8aab7;
                    border-width: 0 0px 3px 0;
    
                }
            }
        }
        .checkmark {
            position: absolute;
            top: 0;
            left: 0;
            width: 16px;
            height: 16px;
            border-radius: 4px;
            border: solid 1px rgba(0, 0, 0, 0.1);
            background-color: $background_color_1;
            &:after {
                content: "";
                position: absolute;
                display: none;
            }
        }
        .checkmarkdisabled {
            position: absolute;
            top: 0;
            left: 0;
            width: 16px;
            height: 16px;
            border-radius: 4px;
            border: solid 1px rgba(0, 0, 0, 0.1);
            background-color:  #e9edf1;
            &:after {
                content: "";
                position: absolute;
                display: none;
            }
        }
        .checkmark2 {
            position: absolute;
            top: 0;
            left: 0;
            width: 16px;
            height: 16px;
            border-radius: 4px;
            border: solid 1px rgba(0, 0, 0, 0.1);
            background-color: white;
            &:after {
                content: "";
                position: absolute;
                display: none;
            }
        }
        .checkmark2disabled {
            position: absolute;
            top: 0;
            left: 0;
            width: 16px;
            height: 16px;
            border-radius: 4px;
            border: solid 1px rgba(0, 0, 0, 0.1);
            background-color: e9edf1;
            &:after {
                content: "";
                position: absolute;
                display: none;
            }
        }

        //RADIO
        &  #radio-cont {
            
        }
    }
}





.disabled-checkbox{
    opacity: 0.5;
   // background: #e9edf1; //GANTI VAR
    cursor : not-allowed;
    color: #b0b0b1;


}
//-----------------


//TYPOGRAPHY
.base-judul {
    font-weight: bold;
    font-family: map-get($font, bold );
    font-size: 36px;
    margin : 0;
}
.judul {
    @extend .base-judul;
    margin: 110px 0 0 20px;
    
}
.judul-2 {
    @extend .base-judul;
    margin:0px 0px 0px 0px ;
    margin: 50px 0 0 20px;
}
.judul-3 {
    @extend .base-judul;
    margin:0px 0px 0px 0px ;
    margin: 35px 0 0 20px;
}
.judul-4 {
    @extend .base-judul;
    margin:0px 0px 0px 0px ;
    margin: 50px 0 0 20px;
}
.judul-5 {
    @extend .base-judul;
    margin:0px 0px 0px 0px ;
    margin: 50px 0 0 20px;
}
